header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.6)), url("../images/black9.jpg");
}

h3{
    text-align: center;
}

.col-1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    margin-bottom: 113px
}

.small-container{
    margin-top: 34px;
    margin-bottom: 54px;
    position: relative;
}

.text{
    height: 34vh;
    width: 100%;
    position: relative;
    display: flex;
 
}
 .typing{
    position: relative;
    margin-left: 10px;
  
}

h5 {
    font-size: 17px;
    color: rgba(14, 13, 13, 0.856);
    position: relative;
}

.typing::after{
    content: "";
    right: -5px;
    width: 1px;
    height: 10%;
    border-right: 2px solid rgb(0, 0, 0);
    animation: blinker 0.5s infinite ease;
    position: absolute;
}


@keyframes blinker {
    0%{
    opacity: 0;
    }
    100%{
        opacity: 1;
    }
    }