:root{
    --color: white;
}
.contact-form-2{
    
  color: var(--color);
}

.Contact-page{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)), url("../images/black9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



.contact-title p{
    color: var(--color) !important;
}

.contactContainer .contactForm .contact-form-2 form label input,textarea{
    background:none;
    color: var(--color);
    border: none;
    border-bottom: 2px solid green;
}


.contactContainer .contactForm .contact-form-2 form label textarea{
    border: 1px solid green;
    background:none;
    color: var(--color);
}