*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    width: 100% !important;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;

}
html{
    scroll-behavior: smooth;
}
.preloader{
    width: 100% !important;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999;
    transition: ease-out 1.7s;
   
}

.percentage{
    width: 100%;
    color: rgb(47, 119, 25);
    height: 8vh;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 23px;
    margin-bottom: 23px;
}

p{
    color:rgb(47, 119, 25) ;
    margin-bottom: 12px;
    font-size: 43px;
}

.progressContainer{
    width: 100% ;
  /*  background-color: rgb(255, 0, 212);*/
   height: 4vh;
}

.progressBar{
  max-width: 406px ;
    height: 100%;
    background:rgb(238, 236, 236) ;
    border-radius: 13px;
    padding: 3px;
    box-sizing: border-box;
    margin: 0 auto;
}

.progress{
    height: 100%;
    background:rgb(47, 119, 25);
    border-radius: 13px;
    max-width: 0%; 
    position: relative;
    display: flex;
    justify-content: center;
}
span{
    align-items: center;
    color: #fff;
    display: none;
    align-self: center;
}

#text-blink{
    animation: blink .7s ease-in-out infinite ;
    color: rgb(47, 119, 25);
    display: inline;
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: .2;
    }
    100%{
        opacity: 1;
    }
}

.blink{
    animation: blink .7s ease-in-out infinite ;
    color: rgb(47, 119, 25);
}

@keyframes blink{
    0%{
        opacity: 1;
    }
    50%{
        opacity: .2;
    }
    100%{
        opacity: 1;
    }
}


/****Media Query*************/

@media only screen and (max-width:908px){
    .progressBar{
        flex-basis: 50% !important;
    }
}






@media only screen and (max-width:599px){
    .progressBar{
        flex-basis: 70% !important;
    }
    .progressContainer{
        padding: 1px;
    }

    span{
        font-size: 9px;
    }
}


@media only screen and (max-width:390px){
    .progressBar{
        flex-basis: 10% !important;
        width: 100%;
    }
}

@media only screen and (max-width:215px){
    .percentage{
        font-size: 23px;
    }
}



/*******MAIN CONTENT******************/

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    /*position: sticky;*/
    position: sticky;
    z-index: 1;
    top: 0;
    transition: ease-in 0.45s;
    
}

.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
    margin-top: 12px;
}

/***NAV LINKS *****************/
.nav-links{
    display: flex;
   justify-content: space-around;
   width: 40%;
}
.nav-links li{
    list-style-type: none;
  
}
.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;

}
.nav-links a::after{
    content: '';
    width: 0;
    height: 2px;
    background:rgb(103, 199, 74);
    display: block;
    margin: auto;
    transition: .5s;  
}
.nav-links li a:hover::after{
    width: 101%;
  }

  .nav-links li a.actve::after{
    content: '';
    width: 101%;
    height: 2px;
    background:rgb(103, 199, 74);
    display: block;
    margin: auto;
    transition: .5s;  
 }
 
 .nav-links li a.actve::after:hover{
    width: 0;
 }



.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.54s ease;
}

/************MEDIA QUERY FOR NAVIGATION***********/ 
@media screen  and (max-width:1024px){
   .nav-links{
       width: 50%;
   }
}
@media screen  and (max-width:1174px){
    .nav-links{
        width: 50%;
    }
 }




@media screen  and (max-width:768px){
    body{
        overflow-x: hidden;
      
    }
    /* nav{
        position: fixed;
        z-index: 1;
        top: 0;
        width: 100%;
     padding: 0;
        left: 0;
    }*/
   .nav-links{
       position: absolute;
       right: 0;
       height:92vh;
       top: 10vh;
       background-color:rgba(21, 71, 6, 0.603);
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
       transform: translateX(100%);
       transition: transform 0.5s ease-in;
       z-index: 999;
       position: fixed;
   }
   .nav-links li{
    opacity: 0;
  
}
   .burger{
       display: block;
   }
   .btn{
       padding: 2.4vw 2.4vh !important;
   }


   .back-top-container{
       left: 60% !important;
   }

}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
opacity: 0;
transform: translateX(50px);
    }
    to{
opacity: 1;
transform: translateX(0px);
    }
}


.toggle .line1{
transform: rotate(-45deg)translate(-5px,6px);
}
.toggle .line2{
opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}




/**********HEADER**************/

header{
    width: 100% !important;
    /*height: 100vh;*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.6)), url("../images/header-bg.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
margin-top: 10%;
}


.col-1{
    flex-basis: 50%;
     min-width: 300px;
    margin-left: 26px;
}



.col-1 h3{
    font-size: 36px;
    line-height: 60px;
    margin: 25px 0;
    color: rgb(207, 199, 199);
}



.col-1 h3 .span{
    color: rgb(185, 106, 3);
    display: contents;
}

.col-1 p{
    color: #fff;
    font-size: 21px;
    letter-spacing: 4px;
}

.btn{
    display: inline-block;
    background-color:rgb(47, 119, 25);
    color: #fff;
    padding: 2vh 2vw;
    margin: 30px 0;
    border-radius: 25px;
    transition: background 0.5s;
    outline: none;
    text-decoration: none;
    align-self: center;
}

.btn:hover{
    outline: none;
background-color: rgb(5, 56, 17);
}











/**************CONTENT********************************/

.contentContainer{
    margin: auto;   
}


.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.services{
    padding: 55px;
}

.services .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 12px;
}
.service-title{
    font-size: 18px;
    color: rgb(185, 106, 3);
    text-transform: uppercase;
}
.title{
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
    line-height: 60px;
    font-size: 20px;
    color: green;
    letter-spacing: 3px;
    text-transform: uppercase;
    cursor: default;
}

.title::after{
    content: "";
    background: green;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.services .col-2{
    flex-basis: 30%;
    min-width: 290px;
    text-align: center;
    /*box-shadow: 0 0 9px 0px rgba(3, 70, 31, 0.822),;*/
    cursor: pointer;
    padding: 60px 30px;
    transition:  background 0.5s;
    flex-direction: column;
   justify-content: space-around;
   color: green;
   text-align: justify;
   font-size: 15px;
   transition: ease-in-out 0.9s;
}



.services .col-2 img{
    width: 193px;
    margin-top: 20px;
    border-radius: 50%;
}

.About-us{
    margin-top: 12px;
}
.col-3{
    width: 100%;
    padding: 100px;
   /* background-color: green;*/
  background: linear-gradient(145deg, rgb(72 65 65), #099200);
}

.col-3 p{
    font-size: 17px;
    color:white;
    text-align: center;
    line-height: 23px;
    align-self: center;
    z-index: 999;
}

.Projects{
    width: 100% !important;
    margin-top: 87px;
    align-items: center;
    padding-top: 30px;
}
.projects{
    width: 100%;
}

.Projects.small-container{
    width: 100% !important;
}
.Projects.row{
    width: 100% !important;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}




.b {
  color: green;
}



/***************TESTIMONIAL***************************/
.testmonialContainer{
    width: 100%;
}


.col-4{
    background: indigo;
}



/********************END OF TESTIMONIAL********************8/





/*************TECHNOLOGY***********************/




.technologyContainer{
    width: 100%;
    margin-top: 99px;
    padding: 34px;
}
.tech{
    display: flex;
   /* justify-content: space-around;*/
    flex-wrap: wrap;
    padding-right: 58px;
    padding-left: 58px;
}

.tech-img{
    width: 14em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*padding: 14px;*/
}

.tech img{
width: 67px;
cursor: default;
align-self: center;
}

.img-description{
    text-align: center;
}
    .img-description p{
        font-size: 17px;
        font-weight: 500;
    }

/************* END OF TECHNOLOGY***********************/







/******************CONTACT FORM************************/
.contactForm{
    margin-top: 94px;
    padding-left: 45px;
    padding-right: 45px;
}
.contact-form{
    width: 100%;
    display: flex;
  box-shadow: 0 0 39px 0px rgba(184, 184, 184, 0.822);
  flex-wrap: wrap;
}

form{
    display: flex;
    flex-direction: column;
    padding: 34px;
    flex-basis: 60%;
}

.contact-title{
    text-align: justify;
    padding: 26px;
}
.contact-title p{
    font-size: 22px;
    text-transform: uppercase;
}

label{
    justify-content: space-between;
    padding: 38px;
}
label p{
    font-size: 16px;
}
input{
    width: 100%;
    padding: 17px;
    border:  1px solid green;
    outline: none;
}

textarea{
    padding: 15px 20px;
    width: 100%;
    line-height: 22px;
   outline: none;
   font-size: 12px;
   border:  1px solid green;
}


form .btn{
    border-radius: 100px!important;
    line-height: 50px!important;
    padding: 0 30px!important;
    transition: .25s all ease-in-out;
    cursor: pointer;
}


.our-contacts{
    border-left: 1px solid rgb(223, 223, 223);
    flex-basis: 40%;
}

.our-contacts .head{
    text-align: center;
    padding: 56px;
    font-size: 22px;
    letter-spacing: 4.3px;
    color: rgb(185, 106, 3);
    
}

.col-6{
display: flex;
flex-direction: column;
justify-content: space-between;
}
.contact-content{
    padding: 24px;
}
.contact-content h5{
    font-size: 17px;
    text-align: center;
    color: rgb(185, 106, 3);
    padding: 12px;
    text-transform: uppercase;
    cursor: default;
}

.contact-content p{
    text-align: center;
    font-size: 14px;
    color: rgb(173, 173, 173);
}


@media  screen and (max-width:670px)  {
    .contact-title p{
        font-size: inherit;

    }
}

/************************************SOCIAL MEDIA LINKS *************************************/

.socialMedia{
    width: 100%;
    margin: 100px auto;
    padding: 30px 24px;
}
.socialMedia .title::after{
    content: none;
}
.socialMedia .title h4{
    font-weight: 300;
    font-size: 26px;
}
.socialMedia ul{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.socialMedia ul li{
  list-style-type:none;
  color: rgb(3, 87, 3);
  font-size: 28px;
}

.socialMedia ul li i{
    font-size: 28px;
}

/************************************SOCIAL MEDIA LINKS ENDS *************************************/
#subject,#message,#email{
    padding: 23px;
    color: red;
    display: none;
}

/************************************FOOTER *************************************/
footer{
background: black;
   /* background-color: #242424;*/
    width: 100%;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-subscription{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 24px;
    padding: 24px;
    color: white;
}

.footer-subscription > p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 24px;
    color: white;
}

.footer-subscription-heading{
    margin-bottom: 24px;
    font-size: 24px;
}

.footer-subscription-text{
    margin-bottom: 24px;
    font-size: 20px;
}

.footer-input{
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;
}

.btn--outline{
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 19px;
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}

.btn--outline:hover{
    background-color:rgb(14, 78, 29);
}


.footer-links{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer-link-wrapper{
    display: flex;
}


.footer-link-items{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    box-sizing: border-box;
}

.footer-link-items h2{
    margin-bottom: 16px;
}

.footer-link-items > h2{
    color: #fff;
}

.footer-link-items a{
    color: #fff;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer-link-items a:hover{
    color: #e9e9e9;
    text-decoration: underline;
    transition: 0.3s ease-out;
    
}

.footer-email-form h2{
    margin-bottom: 32px;
}

.footer-input::placeholder{
    color: #b1b1b1;
}

/*SOCIAL ICONS */
.social-icon-link{
    color: #fff;
    font-size: 17upx;
}

.social-media{
    max-width: 1000px;
    width: 100%;
}

.social-media-wrap{
    display: flex ;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
}

.social-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
    margin-bottom: 16px;
}

.social-icons a{
    text-decoration: none;
}
.social-icons a:hover{
    color: green;
    transition: 0.5s;
}
.footer-logo a{
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.website-rights{
    color: #fff;
    margin-bottom: 16px;
}

/*-BACK TO TOP BUTTON-*/

.back-top-container{
    background: green;
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
    float: right;
    height: 50px;
    padding: 34px;
    position: fixed;
    top: 50%;
    left: 90%;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  cursor: pointer;
        display: none;

}

.back-top-container:hover{
    background: rgb(5, 56, 17);
}


.back-to-top{
    width: 100%;
    margin-top: auto;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    height: 12px;
    cursor: pointer;
}

.back-to-top p{
    color: white;
    font-size: 23px;
    text-align: center;
    padding: 12px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 0.34px;
    align-items: center;
    text-align: center;
    cursor: pointer;
}



/**************MEDIA QUERY FOR MOBILE RESPONSIVENESS*****************/


/************MEDIA QUERY IPAD*********/

@media only screen and (width:1024px){
    .col-1{
        margin-top: 32px !important;
    }

   /* header{
        height: 54vh !important;
    }*/
}






@media only screen and (max-width:800px){
    .row{
        margin-top: 30% !important;
    }
}



@media only screen and (max-width:768px){
    .row{
        margin-top: 20% !important;
    }
    .services .col-2{
        box-shadow: none !important;
    }
}

@media only screen and (max-width:768px){
    h3{
        font-size: 18px;
    }
    p{
        font-size: 17px;
    }
    .col-1,.col-2{
     flex-basis: 100% !important;
    }
   /* header{
        height: 79vh;
    }*/
}

@media only screen and (width:768px){
    .col-1{
    margin-top: 56px;
    }
   /* header{
        height: 75vh;
    }*/
}


@media only screen and (width:600px){
    .col-1{
    margin-top: 56px;
    }

  

   /* header{
        height: 75vh;
    }*/
}

@media only screen and (width:1085px){
    
   .buttons{
        width: 91%;
        flex-shrink: inherit;
    }
}




@media only screen and (max-width:724px){
    .carousel-container{
   width: 100% !important;
   height: 300px;

    }

    .carousel-container img{
        flex: 100 !important;
    }
}

@media only screen and (max-width:674px){
     form{
         width: 100%;
         flex-basis: auto;
         padding: 4px;
     }
     .our-contacts{
         width: 100%;
         flex-basis:auto ;
     }

     form .btn{
        padding: 0 10px !important
     }
}

@media only screen and (max-width:494px){
   .col-3{
       padding: 15px;
   }
}



@media only screen and (max-height: 787px){
  .nav-links{
   padding: 1px;
  }
 }

 
 

 @media only screen and (max-height:424px){
    /*header{
        height: 154vh !important;
    }*/
    .progressContainer{
        height: 7vh;
    }
 }
 
 
 
 @media only screen and (max-width:280px){
   .col-1 h3{
       font-size: 35px !important;
   }
    .contactForm{
    padding: 0;
    }
 }
 

 @media screen and (max-width:820px){
     .footer-links{
         padding-top:2rem !important;
     }
.footer form{
    width: 100% !important;
}
     .footer-input{
         width: 100% !important;
     }

     .btn--outline{
         width: 100% !important;
     }

     .footer-link-wrapper{
         flex-direction: column !important;
        font-size: 11px;
     }

     .social-media-wrap{
         flex-direction: column;
     }
 }

 @media screen and (max-width:322px){
    .footer-link-wrapper{
        flex-direction: column !important;
       width: 100%;
    }
 }
